@import '../modals/variables.scss';
.previous {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
    img {
        width: 25px;
        margin-right: 12px;
        height: 25px;
    }
    p{
        color:$model-text;
        line-height: 2;
        &::after {
            content: "";
            // width: 145px;
            height: 2px;
            border: 1px solid $border-color;
            position: absolute;
            // top: 28px;
            // left: 32%;
        }
    }
}
.product{
    .card{
        background-color: $transparent;
        // border-bottom:1px solid $border-color !important;
        margin-bottom: 15px;
        border: none;
        .product-main-container {
            background: $transparent;
            padding: 5px;
            margin-top: 10px;
            border-radius: 4px;
            text-align: left;
            .prod-grid {
                position: relative;
                margin-top: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                height: 80px;
                max-width: 100px;
                .prodcut-image img {
                    max-width: 100%;
                    min-height:70px;
                    @media screen and (max-width:$break-large){
                        min-height:55px; 
                    }
                  }
            }
        }
        .card-header{
            background-color: $transparent;
            border:none;
            border-radius: 15px;
            padding-left: 0px;
            .ac-hed-pt {
                display: flex;
                text-align: left;
            }
            
        }
    }
    
    .pwinavat img.showPopOver {
        width: 30px;
        height: auto !important;
        display: inline-block;
        vertical-align: top;
        border-radius: 30px;
      }
    .pwinname {
        font-size: 19px;
        font-weight: bold;
        color:$model-text;
        @media screen and (max-width:$break-large){
            font-size: 12px;
        }
    }
    .pwindet {
        display: inline-block;
        color: $text-color;
        padding-left: 15px;
        font-size: 12px;
        div:last-child{
            @media screen and (max-width:$break-large){
                font-size: 8px;
            }
        }        
      }
    .pwindet2 {
        color: $text-color;
        font-size: 12px;
        margin-top: 5px;
        word-break: break-word;
        text-align:left;
        @media screen and (max-width:$break-large){
            font-size: 8px;
        }
        a {
            color: $text-color;
          }
        img{
            width: 15px;
            margin-right: 6px;
        }  
        div{
            margin-bottom: 10px;
        }
      }
    .btn-link {
        position: absolute;
        top: 0;
        right: 0;
        a {
            font-size: 15px;
            margin-right: 8px;
        }        
    }   
}
.winmodal{
    .modal-header {
        padding:0px;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
        background-color: $model-header;
        .modal-title {
            padding: 15px 40px;
            background-color: $title;
            font-size: 12px;
                font-weight: 700;
            
        }
        
        button.close {
            margin: unset;
            padding: 0px;
            span {
                border: 0;
            }
        }
    }
    .modal-body {
        padding: 15px 26px !important; 
        font-size: 12px !important;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0px;
          }
          .boder-do{
            height: 450px;
            border: 1px solid $border-color-2;
            border-radius: 5px;
            overflow: hidden;  
            padding: 15px 10px;          
            .pd-bo{
                font-size: 12px;
                overflow-y: scroll;
                scrollbar-width: none;
                height: 420px;
                &::-webkit-scrollbar {
                    width: 0px;
                  }
                  .headingdiv{
                    .model_items_img {
                        margin: 4px;
                        display: inline;
                        img {
                            width: 35px;
                            height: 35px;
                        }
                    }
                  }
                 
            }
        }
    }
    .modal-footer {
        background-color: $modelbody !important;
        border-top: none;
        .btn-secondary{
                color: $model-text;
                background-color: $red-color;
                border-color: $red-color;
            &:hover {
                color: $model-text;
                background-color: $red-color;
                border-color: $red-color;
            }
            &:focus{
                box-shadow: none;
            }
        }
    }
}

span.btn-link {
    display: flex;
}

span.btn-link .accordion__heading {
    cursor: pointer;
}
span.btn-link .accordion__heading:focus,span.btn-link .accordion__heading>div:focus {
    outline: none!important;
}
.cardBorder{
    border: 1px solid #1f1f2b !important;
}

.product .card {
    background-color: transparent;
    // border-bottom: 1px solid #1f1f2b !important;
    margin-bottom: 15px;
    border: none;
}
