$action-bar:#161621;
$action-bar-text:#3e3e4f;
$model-header:#181824;
$sl-inner:#181824;
$modelbody:#1e1e29;
$text-color: #3e3e4f;
$table-td-color:#3e3e4f;
$title:#1a1a23;
$model-text:#fff;
$table-background:#fff;
$transparent:transparent;
$border-color: #1f1f2b;
$border-color-2:#2a2a37;
$red-color:#f93e3f;
$purple:#d42ee7;
$action-bar:#161621;
$header-back:#20202d;
$chat-body:#20202d;
$dropdown-color:#181823;
$border-color-one:#f93e3f;
$border-color-two:#9cf448;
$border-color-three:#f6abb6;
$border-color-four:#5077da;
$border-color-five:#3da4ab;
$border-color-six:#854442;
$border-color-seven:#fdbd21;
$break-small: 1280px;
$break-large: 1440px;
$break-xl: 1920px;
$break-xml:2560px;
$break-xxl: 3840px;
