@import '../modals/variables.scss';
.term-condition{
    .modal-header{
        padding: 0px;
        border-bottom: none;
        background-color: $model-header;
        .modal-title {
            font-size: 15px;
            background-color: $title;
            padding: 15px;
        }
        .close {
            padding: 0px;
            margin: 0px;
        }
    }
    .modal-body{
        scrollbar-width: none;
        -ms-overflow-style: none;
    }      
    .terms-body {
        height: 435px;        
        border: 1px solid #2a2a37;
        border-radius: 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;        
        ol{
            padding-left: 25px;
            padding-right: 22px;
            max-width: 98%;
            margin: 0 auto;
            margin-top: 15px;
            height: 413px;
            overflow-y: scroll;
            margin-bottom: 1px;
            scrollbar-color: #272734 $modelbody;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                width: 10px;
              }
            &::-webkit-scrollbar {
                background-color: $modelbody;
              }
              
              &::-webkit-scrollbar-thumb {
                background-color: #272734;
                height: 20px;
                border-radius: 10px;
              }
            li {
                font-size: 11px;
                line-height: 2;
                margin-bottom: 10px;
                font-weight: 500;
                text-align: justify;
            }
          }
    }
    .modal-footer {
        background-color: $modelbody;
        padding: 10px;
        .btn-primary {
            padding: 10px 13px;
            width: 190px;
            font-size: 12px;
            &:hover {
                background: $red-color;
                outline: none !important;
            }
        }
        .form-check{
            input{
                width: 12px;
                height: 12px;
                background-color: $modelbody;
                -webkit-appearance: none;
                border: 1px solid #3a3a3a;
                border-radius:3px;
                &:checked {
                    background-color: $table-background;
                }
            }
        }
        .form-check-label {
            font-size: 10px;
            color: $text-color;
        }
    }
    
}